
@{
    ViewBag.Title = "Profile";
}
@using Sofka_Prueba.Models;
@model Player
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="https://i.pinimg.com/564x/71/ea/6b/71ea6bde146204b89436e5e0134d453a.jpg">
                <span class="card-title">@Model.Nombre</span>
            </div>
            <div class="card-content">
                <p>
                    
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Jugar", "Jugar")
            </div>
        </div>
    </div>
</div>
